body {
    font-family: 'Roboto', sans-serif;
    color: #FFF;

    background-image: url(img/table.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: tomato;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin-bottom: 2em;
    font-size: 4rem;
}

footer {
    text-align: center;
    font-size: 3rem;
}

header h1 {
    font-size: 6rem;
}

a {
    color: #FFF;
}

#card-grid {
    margin: 10% auto;
    width: 100%;
    max-width: 750px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0.3%;
    width: 13%;
    height: 13%;
}

.card {
    background-image: url(img/card_back.jpg);
    opacity: 0.6;
    background-size: contain;
    width: 58.8%;
    height: 82.4%;
}

.discovered,
.unlocked {
    opacity: 1;
}

.card1 {
    transform: rotate(90deg);
}

.card1:hover {
    transform: rotate(90deg) scale(1.2);
}

.card2 {
    transform: rotate(0deg);
}

.card2:hover {
    transform: rotate(0deg) scale(1.2);
}

.card3 {
    transform: rotate(-45deg);
}

.card3:hover {
    transform: rotate(-45deg) scale(1.2);
}

.card4 {
    transform: rotate(45deg);
}

.card4:hover {
    transform: rotate(45deg) scale(1.2);
}

#background-overlay {
    display: none;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.overlay {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.85);
    border-radius: 1em;
    top: 60%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
}

.overlay .buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 5rem;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    padding: .15em;
}

#ok-btn,
#final-ok-btn {
    color: #FFF;
}

#layer5-modal {
    max-width: 600px;
    top: 60%;
}

#layer5-modal * {
    font-size: 3rem;
    margin: .35em 0;
}

.buttons label {
    padding: .25em;
}

input {
    display: none;
}

#layer5-modal .buttons input:checked + label {
    border: 5px solid white;
}

@media only screen and (orientation: landscape) {
    header {
        width: 97%;
        flex-direction: row;
        padding: 1em;
    }
    header h1 {
        font-size: 2rem;
        margin-left: 1em;
    }
    header h2 {
        margin: 0 1em 0 0;
        font-size: 1.5rem;
    }
    footer {
        width: 90%;
        font-size: 1.5rem;
    }
    #card-grid {  
        max-width: 400px;
    }
}